<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Change</title>
</head>
<body>
<div class="container">
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h3 class="mb-3">Change password</h3>
<form action="">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Enter old password"/>
    </div>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Enter new password"/>
    </div>

</form>
            </div>
        </div>
    </div>

</div>
</div>
</body>
</html>