<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Checkout example for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="/major/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/major/css/form-validation.css" rel="stylesheet">
</head>

<body class="bg-light">

<div class="container">
    <form class="needs-validation" th:action="@{/candidate/postCV}" method="post" th:object="${cv}" novalidate>
        <div class="row">
            <div class="col-md-4 order-md-2 mb-4">
                <div class="w3-col ">
                    <div id="id01" class="w3-modal">
                        <div class="w3-modal-content w3-card-4">
                            <header class="w3-container w3-teal">
        <span onclick="document.getElementById('id01').style.display='none'"
              class="w3-button w3-display-topright">×</span>
                                <h2>Select Image</h2>
                            </header>


                        </div>
                    </div>
                    <br>
                    <a onclick="document.getElementById('id01').style.display='block'" class="w3-button  w3-blue">Add
                        Image</a>
                    <img value="/home/images/cv.jpg" th:field="*{imageUpload}" class="w3-table-all" id="myTable" th:src="${candidate.getAvatar()}"/>

                    </img>
                </div>
            </div>
            <div class="col-md-8 order-md-1">
                <h4 class="mb-3">Create New CV</h4>
                <div class="row">

                    <div class="col-md-6 mb-3">
                        <label>Name</label>
                        <label type="text" class="form-control" value=""><a th:text="${candidate.getName()}"/></label>
                        <div class="invalid-feedback">
                            Valid first name is required.
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label>Date of birth</label>
                        <input type="text" class="form-control"   required
                            th:field="*{dob}"
                        >
                        <div class="invalid-feedback">
                            Valid last name is required.
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label>Age</label>
                    <div class="input-group">
                        <!--            <input type="text" class="form-control"  placeholder="age" required>-->
                        <label type="text" class="form-control" value=""><a th:text="${candidate.getAge()}" /></label>
                        <div class="invalid-feedback" style="width: 100%;">
                            Your username is required.
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label>Phone Number</label>
                    <div class="input-group">
                      <input type="number" class="form-control"  placeholder="phone" required
                             th:field="*{phone}"
                      >
                        <div class="invalid-feedback" style="width: 100%;">
                            Your username is required.
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <label>Email</label>
                    <input type="text" class="form-control" placeholder="email"
                           th:field="*{email}"
                    >
                    <div class="invalid-feedback">
                        Please enter a valid email address for shipping updates.
                    </div>
                </div>

                <div class="mb-3">
                    <label>Purpose</label>
                    <input type="text" class="form-control" placeholder="purpose description" required
                           th:field="*{purpose}"
                    >
                    <div class="invalid-feedback">
                        Please enter your shipping address.
                    </div>
                </div>

                <hr class="mb-4">

                <h4 class="mb-3">Gender</h4>

                <div class="d-block my-3">
                    <div class="input-group">

                        <div class="p-t-10">
                            <label class="radio-container m-r-45">Male
                                <input type="radio" th:field="*{gender}" checked="checked" id="male" value="Male" required>
                                <span class="checkmark"></span>
                            </label>
                            <label class="radio-container">Female
                                <input type="radio" name="gender"  id="female" value="Female" required>
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>
                </div>
                <button class="btn btn-primary btn-lg btn-block" type="submit">Save</button>
                <button class="btn btn-primary btn-lg btn-block" type="submit">Cancel</button>

            </div>
        </div>
    </form>


    <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; 2017-2018 Company Name</p>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Privacy</a></li>
            <li class="list-inline-item"><a href="#">Terms</a></li>
            <li class="list-inline-item"><a href="#">Support</a></li>
        </ul>
    </footer>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="../../../../assets/js/vendor/popper.min.js"></script>
<script src="../../../../dist/js/bootstrap.min.js"></script>
<script src="../../../../assets/js/vendor/holder.min.js"></script>
<!--<script>-->
<!--    // Example starter JavaScript for disabling form submissions if there are invalid fields-->
<!--    (function() {-->
<!--        'use strict';-->

<!--        window.addEventListener('load', function() {-->
<!--            // Fetch all the forms we want to apply custom Bootstrap validation styles to-->
<!--            var forms = document.getElementsByClassName('needs-validation');-->

<!--            // Loop over them and prevent submission-->
<!--            var validation = Array.prototype.filter.call(forms, function(form) {-->
<!--                form.addEventListener('submit', function(event) {-->
<!--                    if (form.checkValidity() === false) {-->
<!--                        event.preventDefault();-->
<!--                        event.stopPropagation();-->
<!--                    }-->
<!--                    form.classList.add('was-validated');-->
<!--                }, false);-->
<!--            });-->
<!--        }, false);-->
<!--    })();-->
<!--</script>-->
<script th:inline="javascript">
    $('#save').on('click', function () {
        var content = $('#content').val();
        var title = $('#title').val();

        var count = $('#myTable tr').length - 1;
        if (content != "" && title != "") {
            $('#myTable tbody').append('<tr class="child"><td >' + count + '</td>' +
                '<td th:value = "' + content + '" th:field="*{jobRules.get(0).getContent()}">' + content + '</td>' +
                '<td th:value = "' + title + '" >' + title + '</td>' +
                '<td><a href="javascript:void(0);" class="remCF1 btn btn-small btn-danger">Remove</a>' +
                '</td>' +
                '</tr>');
        }
    });
    $(document).on('click', '.remCF1', function () {
        $(this).parent().parent().remove();
        $('#myTable tbody tr').each(function (i) {
            $($(this).find('td')[0]).html(i + 1);
        });
    });
</script>
</body>
</html>