<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="HandheldFriendly" content="true">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Free HTML Professional Resume CV Template</title>
  <link rel="stylesheet" href="/home/css/style.css">
  <link rel="stylesheet" href="/home/css/bootstrap.min.css">
  <script src="https://use.fontawesome.com/809c2bfca6.js"></script>
  <script src="/home/scripts/index.js"></script>
  <style>
    body {
      background: #eee
    }

    .ratings i {
      color: green
    }

    .install span {
      font-size: 12px
    }

    .col-md-4 {
      margin-top: 27px
    }
  </style>
</head>
<body>

<header></header>
<div class="wrapper" >

  <div class="sidebar">
    <div class="bio">
      <div class="avatar">
        <img th:src="${company.get().getCompanyImageUrl()}" alt="">
      </div>
      <div class="title">

        <h1 th:text="${company.get().getName()}">FPT Software</h1>
        <h2 th:text="'Gmail: '+${company.get().getEmail()}" style="padding-top: 10px">Mail</h2>
        <h2 th:text="'Phone: '+${company.get().getPhone()}">Phone</h2>
        <h2 th:text="'Address: '+${company.get().getAddress()}">Address</h2>
        <h2 th:text="${company.get().getId()}" id="idCom" style="display: none">1</h2>
        <h2 >Persion size: <a th:text="${company.get().getPersonnelSize()}"></a></h2>
      </div>

    </div>
  </div>

  <div class="content-wrapper">
    <div class="content">

      <div class="title">

        <h2>Introduction</h2>
        <div class="item">
          <p><a th:text="${company.get().getCompanyIntro()}"></a></p>
        </div>
      </div>

      <div class="title">

        <h2>Description</h2>
        <div class="item">
          <p><a th:text="${company.get().getDescription()}"></a></p>
        </div>
      </div>

      <div class="title">
        <!--          <h2>Major</h2>-->
        <!--          <select class="form-control" id="showEntries" onchange="onSelectShowEntry()" >-->
        <!--            <th:block th:each=" x:${majorlist}">-->
        <!--              <option th:text="${x}"></option>-->
        <!--            </th:block>-->

        <!--          </select>-->
        <h2>Job</h2>






        <div class="container mt-5">
          <div class="row">
            <th:block th:each="x:${ListCompanyDetail}">
              <div class="col-md-4">
                <div class="card p-3">
                  <div class="d-flex flex-row mb-3">
                    <div class="d-flex flex-column ml-2"><h4 th:utext="'Job Name: '+${x.getMajorName()}">Stripe</h4><span class="text-black-50">Personal Need: <a th:text="${x.maxCandidate}"/></span></div>
                  </div>
                  <h6 th:utext="'Job description: '+${x.getJobDescription()}">Get more context on your users with stripe data inside our platform.</h6>
                  <div class="d-flex justify-content-between install mt-3"><a class="text-primary" th:href="@{'/candidate/jobdetail/'+${x.getId()}}">View&nbsp;<i class="fa fa-angle-right"></i></a></div>
                </div>
              </div>





          </div>
        </div>

      </div>
    </div>

  </div>

</div>
<script>

  function onSelectShowEntry(){
    let listEntriesElement = document.getElementById("showEntries");
    let idcom = document.getElementById("idCom").innerHTML;
    idcom = Number(idcom)
    let selected = listEntriesElement.options[listEntriesElement.selectedIndex].value;
    selected = String(selected);
    window.location.href = `/candidate/DetailCompany/${idcom}/${selected}`;
  }
</script>
</body>
</html>