<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <title>List all Job</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
          integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link href="/admin/css/sb-admin-2.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
    <!-- Vendor CSS-->
    <link href="/register/vendor/select2/select2.min.css" media="all" rel="stylesheet">
    <link href="/register/vendor/datepicker/daterangepicker.css" media="all" rel="stylesheet">
    <link href="/company/custom/index.css" rel="stylesheet">


    <link href="/common/error.css" rel="stylesheet">
    <link href="/company/custom/button-active.css" rel="stylesheet">
    <link href="/company/custom/listCompany.css" rel="stylesheet">
    <link href="/major/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/major/css/form-validation.css" rel="stylesheet">
    <link href="/job/css/detail.css" rel="stylesheet">
    <style>
        w3-table-all, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>

    <!--    <script>-->
    <!--        $(document).ready(function () {-->
    <!--            $('[data-toggle="tooltip"]').tooltip();-->
    <!--        });-->
    <!--    </script>-->
</head>
<body>
<div id="wrapper">

    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">

    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

        <!-- Sidebar Toggle (Topbar) -->
        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
        </button>

        <!-- Topbar Search -->

        <!-- Topbar Navbar -->
        <ul class="navbar-nav ml-auto">

            <!-- Nav Item - Search Dropdown (Visible Only XS) -->
            <li class="nav-item dropdown no-arrow d-sm-none">
                <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-search fa-fw"></i>
                </a>
                <!-- Dropdown - Messages -->
                <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                     aria-labelledby="searchDropdown">
                    <form class="form-inline mr-auto w-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small"
                                   placeholder="Search for..." aria-label="Search"
                                   aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </li>

            <!-- Nav Item - Alerts -->
            <li class="nav-item dropdown no-arrow mx-1">
                <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-bell fa-fw"></i>
                    <!-- Counter - Alerts -->
                    <span class="badge badge-danger badge-counter">3+</span>
                </a>
                <!-- Dropdown - Alerts -->
                <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                     aria-labelledby="alertsDropdown">
                    <h6 class="dropdown-header">
                        Alerts Center
                    </h6>
                    <a class="dropdown-item d-flex align-items-center" href="#">
                        <div class="mr-3">
                            <div class="icon-circle bg-primary">
                                <i class="fas fa-file-alt text-white"></i>
                            </div>
                        </div>
                        <div>
                            <div class="small text-gray-500">December 12, 2019</div>
                            <span class="font-weight-bold">A new monthly report is ready to download!</span>
                        </div>
                    </a>
                    <a class="dropdown-item d-flex align-items-center" href="#">
                        <div class="mr-3">
                            <div class="icon-circle bg-success">
                                <i class="fas fa-donate text-white"></i>
                            </div>
                        </div>
                        <div>
                            <div class="small text-gray-500">December 7, 2019</div>
                            $290.29 has been deposited into your account!
                        </div>
                    </a>
                    <a class="dropdown-item d-flex align-items-center" href="#">
                        <div class="mr-3">
                            <div class="icon-circle bg-warning">
                                <i class="fas fa-exclamation-triangle text-white"></i>
                            </div>
                        </div>
                        <div>
                            <div class="small text-gray-500">December 2, 2019</div>
                            Spending Alert: We've noticed unusually high spending for your account.
                        </div>
                    </a>
                    <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                </div>
            </li>

            <!-- Nav Item - Messages -->
            <li class="nav-item dropdown no-arrow mx-1">
                <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-envelope fa-fw"></i>
                    <!-- Counter - Messages -->
                    <span class="badge badge-danger badge-counter">7</span>
                </a>
                <!-- Dropdown - Messages -->
                <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                     aria-labelledby="messagesDropdown">
                    <h6 class="dropdown-header">
                        Message Center
                    </h6>
                    <a class="dropdown-item d-flex align-items-center" href="#">
                        <div class="dropdown-list-image mr-3">
                            <img class="rounded-circle" src="img/undraw_profile_1.svg"
                                 alt="...">
                            <div class="status-indicator bg-success"></div>
                        </div>
                        <div class="font-weight-bold">
                            <div class="text-truncate">Hi there! I am wondering if you can help me with a
                                problem I've been having.</div>
                            <div class="small text-gray-500">Emily Fowler · 58m</div>
                        </div>
                    </a>
                    <a class="dropdown-item d-flex align-items-center" href="#">
                        <div class="dropdown-list-image mr-3">
                            <img class="rounded-circle" src="img/undraw_profile_2.svg"
                                 alt="...">
                            <div class="status-indicator"></div>
                        </div>
                        <div>
                            <div class="text-truncate">I have the photos that you ordered last month, how
                                would you like them sent to you?</div>
                            <div class="small text-gray-500">Jae Chun · 1d</div>
                        </div>
                    </a>
                    <a class="dropdown-item d-flex align-items-center" href="#">
                        <div class="dropdown-list-image mr-3">
                            <img class="rounded-circle" src="img/undraw_profile_3.svg"
                                 alt="...">
                            <div class="status-indicator bg-warning"></div>
                        </div>
                        <div>
                            <div class="text-truncate">Last month's report looks great, I am very happy with
                                the progress so far, keep up the good work!</div>
                            <div class="small text-gray-500">Morgan Alvarez · 2d</div>
                        </div>
                    </a>
                    <a class="dropdown-item d-flex align-items-center" href="#">
                        <div class="dropdown-list-image mr-3">
                            <img class="rounded-circle" src="https://source.unsplash.com/Mv9hjnEUHR4/60x60"
                                 alt="...">
                            <div class="status-indicator bg-success"></div>
                        </div>
                        <div>
                            <div class="text-truncate">Am I a good boy? The reason I ask is because someone
                                told me that people say this to all dogs, even if they aren't good...</div>
                            <div class="small text-gray-500">Chicken the Dog · 2w</div>
                        </div>
                    </a>
                    <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
                </div>
            </li>
            <li class="nav-item dropdown no-arrow mx-1">
                <a  href="/company/listjob" >

                    <!-- Counter - Alerts -->
                    <span class="badge badge-danger badge-counter">List Job</span>
                </a>

            </li>


        </ul>

    </nav>
    <div class="container">
        <div class="card">
            <div class="card-body">


                <div class="row">
                    <div class="col-lg-7 col-md-7 col-sm-6">
                        <h4 class="box-title mt-5">Job Name</h4>
                        <p th:text="${job_detail.getMajorName()}"></p>
                        <h4 class="box-title mt-5">Job Description</h4>
                        <p th:text="${job_detail.getJobDescription()}"></p>
                        <h3 class="box-title mt-5">About Job</h3>

                        <ul class="list-unstyled">
                            <li>Job Position: [[${job_detail.getMajorLevel()}]]</li>
                            <li>Work address: [[${job_detail.getWorkAddress()}]]</li>
                            <li>Salary: [[${job_detail.getSalary()}]]</li>
                            <li>Max Candidate: [[${job_detail.getMaxCandidate()}]]</li>
                        </ul>
                        <h3 class="box-title mt-5">Job Require</h3>

                        <ul class="list-unstyled">
                            <li>Experience: [[${job_detail.getExperience()}]]</li>
                            <li>Gender: [[${job_detail.getGender()}]]</li>
                        </ul>

                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <h3 class="box-title mt-5">Rule</h3>
                        <div class="table-responsive">
                            <table class="table table-striped table-product">
                                <tbody>
                                <tr th:each="rule , state: ${job_detail.getJobRules()}">
                                    <td th:text="${state.count}"></td>
                                    <td th:text="${rule.getTitle()}"></td>
                                    <td th:text="${rule.getContent()}"></td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                        <h3 class="box-title mt-5">Benefit</h3>
                        <div class="table-responsive">
                            <table class="table table-striped table-product">
                                <tbody>
                                <tr th:each="ben , state: ${job_detail.getJobBenefits()}">
                                    <td th:text="${state.count}"></td>
                                    <td th:text="${ben.getTitle()}"></td>
                                    <td th:text="${ben.getBenefit()}"></td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                        <h3 class="box-title mt-5">Skill</h3>
                        <div class="table-responsive">
                            <table class="table table-striped table-product">
                                <tbody>
                                <tr th:each="skill , state: ${job_detail.getJobSkills()}">
                                    <td th:text="${state.count}"></td>
                                    <td th:text="${skill.getName()}"></td>

                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <a  class="btn btn-outline-danger" th:href="@{'/candidate/chooseCVRequest/'+${job_detail.getId()}}"><i class="fas fa-send"></i>  Send the request</a>

                </div>
            </div>
        </div>
    </div>


<!--    <div class="col-md-4 order-md-2 mb-4">-->
<!--        <div class="mb-3">-->
<!--        </div>-->
<!--        <div class="mb-3">-->
<!--        </div>-->
<!--                <div class="w3-col ">-->
<!--                    <div id="id01" class="w3-modal">-->
<!--                        <div class="w3-modal-content w3-card-4">-->
<!--                            <header class="w3-container w3-teal">-->
<!--                                <h5  style="font-weight: bold">Rule: </h5>-->
<!--                            </header>-->


<!--                        </div>-->
<!--                    </div>-->
<!--                    <br>-->

<!--                    <table class="w3-table-all" id="myTable">-->
<!--                        <thead>-->
<!--                        <tr class="w3-blue">-->
<!--                            <th nowrap>Sl.No</th>-->
<!--                            <th nowrap>Title</th>-->
<!--                            <th nowrap>Content</th>-->

<!--                        </tr>-->
<!--                        </thead>-->
<!--                        <tbody >-->
<!--                        <tr th:each="rule , state: ${job_detail.getJobRules()}">-->
<!--                            <td th:text="${state.count}"></td>-->
<!--                            <td th:text="${rule.getTitle()}"></td>-->
<!--                            <td th:text="${rule.getContent()}">-->

<!--                            </td>-->



<!--                        </tr>-->

<!--                        </tbody>-->
<!--                    </table>-->
<!--                </div>-->

<!--                <br>-->
<!--                <br>-->

<!--                <div class="w3-col ">-->
<!--                    <div id="id02" class="w3-modal">-->
<!--                        <div class="w3-modal-content w3-card-4">-->
<!--                            <header class="w3-container w3-teal">-->
<!--                                <h5  style="font-weight: bold">Benefit: </h5>-->
<!--                            </header>-->

<!--                        </div>-->
<!--                    </div>-->
<!--                    <br>-->

<!--                    <table class="w3-table-all" id="myTable2">-->
<!--                        <thead>-->
<!--                        <tr class="w3-blue">-->
<!--                            <th nowrap>Sl.No</th>-->
<!--                            <th nowrap>Title</th>-->
<!--                            <th nowrap>Benefit</th>-->


<!--                        </tr>-->
<!--                        </thead>-->
<!--                        <tbody >-->
<!--                        <tr th:each="ben , state: ${job_detail.getJobBenefits()}">-->
<!--                            <td th:text="${state.count}"></td>-->
<!--                            <td th:text="${ben.getTitle()}"></td>-->
<!--                            <td th:text="${ben.getBenefit()}">-->

<!--                            </td>-->



<!--                        </tr>-->
<!--                        </tbody>-->
<!--                    </table>-->
<!--                </div>-->

<!--        <div class="w3-col ">-->
<!--            <div id="id04" class="w3-modal">-->
<!--                <div class="w3-modal-content w3-card-4">-->
<!--                    <header class="w3-container w3-teal">-->
<!--                        <h5  style="font-weight: bold">Skill: </h5>-->
<!--                    </header>-->

<!--                </div>-->
<!--            </div>-->
<!--            <br>-->

<!--            <table class="w3-table-all" id="myTable3">-->
<!--                <thead>-->
<!--                <tr class="w3-blue">-->
<!--                    <th nowrap>Sl.No</th>-->

<!--                    <th nowrap>Skill name</th>-->


<!--                </tr>-->
<!--                </thead>-->
<!--                <tbody >-->
<!--                <tr th:each="skill , state: ${job_detail.getJobSkills()}">-->
<!--                    <td th:text="${state.count}"></td>-->
<!--                    <td th:text="${skill.getName()}"></td>-->


<!--                    </td>-->



<!--                </tr>-->
<!--                </tbody>-->
<!--            </table>-->
<!--        </div>-->

<!--            </div>-->
<!--    <div class="col-md-7 order-md-1">-->
<!--        <h3 class="mb-3" style="font-weight: bold"> Job Detail</h3>-->



<!--        <div class="mb-3">-->
<!--            <H5 style="font-weight: bold">Name Job: </H5>-->
<!--            <h6 th:text="${job_detail.getMajorName()}" ></h6>-->

<!--        </div>-->

<!--        <div class="mb-3">-->
<!--            <H5 style="font-weight: bold">Level: </H5>-->
<!--            <h6 th:text="${job_detail.getMajorLevel()}" ></h6>-->

<!--        </div>-->

<!--        <div class="mb-3">-->
<!--            <H5 style="font-weight: bold">Experience: </H5>-->
<!--            <h6 th:text="${job_detail.getExperience()}" ></h6>-->

<!--        </div>-->

<!--        <div class="mb-3">-->
<!--            <H5 style="font-weight: bold">Work Address: </H5>-->
<!--            <h6 th:text="${job_detail.getWorkAddress()}" ></h6>-->

<!--        </div>-->

<!--        <div class="mb-3">-->
<!--            <H5 style="font-weight: bold">Job Description: </H5>-->
<!--            <h6 th:text="${job_detail.getJobDescription()}" ></h6>-->

<!--        </div>-->

<!--        <div class="mb-3">-->
<!--            <H5 style="font-weight: bold">Gender: </H5>-->
<!--            <h6 th:text="${job_detail.getGender()}" ></h6>-->

<!--        </div>-->

<!--        <div class="row">-->

<!--            &lt;!&ndash; <div class="col-md-4 mb-3">-->
<!--              <label for="state">State</label>-->
<!--              <select class="custom-select d-block w-100" id="state" required>-->
<!--                <option value="">Choose...</option>-->
<!--                <option>California</option>-->
<!--              </select>-->
<!--              <div class="invalid-feedback">-->
<!--                Please provide a valid state.-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="col-md-3 mb-3">-->
<!--              <label for="zip">Zip</label>-->
<!--              <input type="text" class="form-control" id="zip" placeholder="" required>-->
<!--              <div class="invalid-feedback">-->
<!--                Zip code required.-->
<!--              </div>-->
<!--            </div> &ndash;&gt;-->
<!--        </div>-->

<!--        <div class="mb-3">-->
<!--            <table class="w3-table-all" id="myTableSkill">-->
<!--                <thead>-->

<!--                </thead>-->
<!--                <tbody>-->

<!--                </tbody>-->
<!--            </table>-->
<!--        </div>-->




<!--        <div class="row">-->
<!--            <div class="col-md-3 mb-3">-->
<!--                <H5 style="font-weight: bold">Salary: </H5>-->
<!--                <h6 th:text="${job_detail.getSalary()}" ></h6>-->

<!--            </div>-->
<!--            <div class="col-md-3 mb-3">-->
<!--                <H5 style="font-weight: bold">Max Candidate: </H5>-->
<!--                <h6 th:text="${job_detail.getMaxCandidate()}" ></h6>-->
<!--            </div>-->
<!--        </div>-->





<!--    </div>-->
        </div>
    </div>
 </div>

</body>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

<!-- Bootstrap core JavaScript-->
<script src="/admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/admin/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/admin/js/sb-admin-2.min.js"></script>

<script src="/register/vendor/select2/select2.min.js"></script>
<script src="/register/vendor/datepicker/moment.min.js"></script>
<script src="/register/vendor/datepicker/daterangepicker.js"></script>

<!-- Main JS-->
<script src="/register/js/global.js"></script>



<script src="/company/custom/index.js"></script>
<script>
    $('[data-toggle="tooltip"]').tooltip();

</script>

<script src="/company/custom/activebutton.js"></script>



</html>


