<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<table style="border: 1px solid black">
  <tr>
    <th>index</th>
    <th>count</th>
    <th>size</th>
    <th>even</th>
    <th>odd</th>
    <th>first</th>
    <th>last</th>
    <th>Flower Name</th>
  </tr>
  <tr th:each="Company, state : ${ListCompany}">
    <td th:utext="${state.id}">index</td>
    <td th:utext="${state.name}">count</td>
    <td th:utext="${state.name}">size</td>
    <td th:utext="${state.name}">even</td>
    <td th:utext="${state.name}">odd</td>
    <td th:utext="${state.name}">first</td>
    <td th:utext="${state.name}">last</td>
  </tr>
</table>

</body>
</html>