/*
.active-switch{
    display: block;
    width: 6em;
    border: 1px solid black;
    border-radius: 25%;
    text-align: center;
} */
/*html .status-container {*/
/*  height: 8em;*/
/*  width: 100vw;*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  flex-direction: column;*/
/*  align-items: center;*/
/*  margin: 0;*/
/*  padding: 0;*/
/*}*/
/*div {*/
/*  width: 50%;*/
/*  height: 10%;*/
/*  display: flex;*/
/*  justify-content: flex-start;*/
/*  margin-bottom: 20px;*/
/*}*/



.btn-status {
  width: 100px;
  height: 40px;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  line-height: 24px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color: #fff;
  margin-right: 10px;
}
/*

.btn-outline-danger {
    border: 1.5px solid #f55353;
    color: #f55353;
    transition: 0.15s ease-out;
  }

  .btn-outline-danger:hover {
    background-color: #df4c4c;
    transition: 0.15s ease-out;
    color: #fff;
  } */

.btn-danger {
  background-color: #f55353;
  transition: 0.5ms;
}

.btn-danger:hover {
  background-color: #df4c4c;
  transition: 0.5ms;
}


.btn-success {
  background-color: #91b841;
  transition: 0.5ms;
}
.btn-success:hover {
  background-color: #81a43a;
  transition: 0.5ms;
}