<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
			xmlns:th="http://www.thymeleaf.org"
>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Jackson Template</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta content="" name="description"/>
	<meta content="" name="keywords"/>
	<meta content="" name="author"/>

	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta content="" name="twitter:title"/>
	<meta content="" name="twitter:image"/>
	<meta content="" name="twitter:url"/>
	<meta name="twitter:card" content="" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="favicon.ico">

	<link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700" rel="stylesheet">
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="/company/company-candidate/candidate-detail/css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="/company/company-candidate/candidate-detail/css/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="/company/company-candidate/candidate-detail/css/bootstrap.css">
	<!-- Flexslider  -->
	<link rel="stylesheet" href="/company/company-candidate/candidate-detail/css/flexslider.css">
	<!-- Flaticons  -->
	<link rel="stylesheet" href="/company/company-candidate/candidate-detail/fonts/flaticon/font/flaticon.css">
	<!-- Owl Carousel -->
	<link rel="stylesheet" href="/company/company-candidate/candidate-detail/css/owl.carousel.min.css">
	<link rel="stylesheet" href="/company/company-candidate/candidate-detail/css/owl.theme.default.min.css">
	<!-- Theme style  -->
	<link rel="stylesheet" href="/company/company-candidate/candidate-detail/css/style.css">

	<link href="/common/error.css" rel="stylesheet">

	<!-- Modernizr JS -->
	<script src="/company/company-candidate/candidate-detail/js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="/company/company-candidate/candidate-detail/js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>
	<div id="colorlib-page">
		<div class="container-wrap">
			<a href="#" class="js-colorlib-nav-toggle colorlib-nav-toggle" data-toggle="collapse" data-target="#navbar"
				 aria-expanded="false" aria-controls="navbar"><i></i></a>
			<aside id="colorlib-aside" role="complementary" class="border js-fullheight">
				<div class="text-center">
					<div class="author-img"
							 th:style="${'background-image: url(/'+cv.getCandidate().getAvatar()}"></div>
					<h1 id="colorlib-logo"><a href="index.html"
																		th:href="'/company/candidate?id='+${cv.getCandidate().getId()}"
																		th:text="${cv.getCandidate().getName()}">Jackson
						Ford</a></h1>
					<!-- <span class="position"><a href="#">UI/UX/Designer</a> in Philippines</span> -->
					<h1 id="to_id" style="display: none"
							th:text="${cv.getCandidate().getUser().getId()}"></h1>
					<h1 id="cv_id" style="display: none" th:text="${cv.getId()}"></h1>
				</div>
				<nav id="colorlib-main-menu" role="navigation" class="navbar">
					<div id="navbar" class="collapse">
						<ul>
							<li><a href="#" data-nav-section="about">About</a></li>
							<li><a href="#" data-nav-section="certificate">Certificates</a></li>
							<li><a href="#" data-nav-section="skill">Skill</a></li>
							<li><a href="#" data-nav-section="project-candidate">Projects</a></li>
							<li><a href="#" data-nav-section="educate">Educate</a></li>
							<li><a href="#" data-nav-section="contact">Contact</a></li>
						</ul>
					</div>
				</nav>

				<div class="colorlib-footer">
					<p><small>&copy;
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						Copyright
						<script>document.write(new Date().getFullYear());</script> All rights reserved. Made with <i
								class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com"
																																 target="_blank">Colorlib</a>
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						</span> <span>Distributed by <a href="https://themewagon.com"
																						target="_blank">ThemeWagon</a></span> <span>Demo Images: <a
								href="https://unsplash.com/" target="_blank">Unsplash.com</a></span>
					</small></p>
					<ul>
						<li><a href="#"><i class="icon-facebook2"></i></a></li>
						<li><a href="#"><i class="icon-twitter2"></i></a></li>
						<li><a href="#"><i class="icon-instagram"></i></a></li>
						<li><a href="#"><i class="icon-linkedin2"></i></a></li>
					</ul>
				</div>

			</aside>

			<div id="colorlib-main">


				<!-- ABOUT ME -->
				<section class="colorlib-about" data-section="about">
					<div class="colorlib-narrow-content">
						<div class="row">
							<div class="col-md-12">
								<div class="row row-bottom-padded-sm animate-box" data-animate-effect="fadeInLeft">
									<div class="col-md-12">
										<div class="about-desc">
											<span class="heading-meta">About Us</span>
											<h2 class="colorlib-heading">About Me?</h2>
											<!-- candidate name -->
											<strong th:text="'Hi I\'m '+${cv.getCandidate().getName()}"></strong>
											<p th:text="${cv.getContent()}">
												<!-- content -->
												On her way she met a copy. The copy
												warned the Little Blind Text, that where it came from it would have been
												rewritten a thousand times and everything that was left from its origin
												would be the word "and" and the Little Blind Text should turn around and
												return to its own, safe country.</p>
<!--											<p th:text="${cv.getPurpose()}">Even the all-powerful Pointing has no control about the blind texts it is-->
<!--												an almost unorthographic life One day however a small line of blind text-->
<!--												by the name of Lorem Ipsum decided to leave for the far World of-->
<!--												Grammar.</p>-->
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-md-12 animate-box" data-animate-effect="fadeInLeft">
										<div class="hire">
											<h2>I am happy to know you, My purpose is: <br><p th:text="${cv.getPurpose()}">Lorem ipsum dolor sit amet consectetur, adipisicing elit. At officia earum quod possimus quaerat.</p></h2>
<!--											<a href="#contact-candidate"  class="btn-hire">Hire me</a>-->
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<!-- ABOUT ME -->



				<!-- CERTIFICATE -->
				<section class="colorlib-services" data-section="certificate">
					<div class="colorlib-narrow-content">
						<div class="row">
							<div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box"
									 data-animate-effect="fadeInLeft">
								<span class="heading-meta">What I do?</span>
								<h2 class="colorlib-heading">Here are some of my certificate</h2>
							</div>
						</div>

						<th:block th:each="certificate: ${cv.getCertificates()}">
							<div class="row row-pt-md">
								<h1 style="text-align: center;" th:text="${certificate.getCertificateName()}">JAVA</h1>
								<div class="row row-pt-md">
									<div class="col-md-4 text-center animate-box">
										<div class="services color-1">
										<span class="icon">
											<i class="icon-bulb"></i>
										</span>
											<div class="desc" >
												<h3>ORGANIZATION</h3>
												<p th:text="${certificate.getOrganization()}">FPT</p>
											</div>
										</div>
									</div>
									<div class="col-md-4 text-center animate-box">
										<div class="services color-2">
										<span class="icon">
											<i class="icon-data"></i>
										</span>
											<div class="desc">
												<h3>GRADUATION DATE</h3>
												<p th:text="${#dates.format(certificate.getGraduationDate(), 'dd-MMM-yyyy')}">17/09/2020</p>
											</div>
										</div>
									</div>
									<div class="col-md-4 text-center animate-box">
										<div class="services color-3">
										<span class="icon">
											<i class="icon-phone3"></i>
										</span>
											<div class="desc">
												<h3>CERTIFICATE</h3>
												<p th:text="${certificate.getCertificateName()}">JAVA</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</th:block>


					</div>
				</section>
				<!-- CERTIFICATE -->



				<!-- skill -->
				<section class="colorlib-education" data-section="skill">
					<div class="colorlib-narrow-content">
						<div class="row">
							<div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box"
									 data-animate-effect="fadeInLeft">
								<span class="heading-meta">Skills</span>
								<h2 class="colorlib-heading animate-box">Skills</h2>
							</div>
						</div>

						<div class="row">
							<div class="col-md-12 animate-box" data-animate-effect="fadeInLeft">
								<div class="fancy-collapse-panel">
									<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

										<th:block th:each="skill: ${cv.getSkills()}">
											<div class="panel panel-default">

												<div class="panel-heading" role="tab" th:id="${'heading'+skill.getId()}" id="headingFive">
													<h4 class="panel-title">
														<a class="collapsed" data-toggle="collapse" data-parent="#accordion"
															 th:href="${'#collapse'+skill.getId()}"
															 href="#collapseFive" aria-expanded="false"
															 th:attr="aria-controls='collapse'+${skill.getId()}"
															 aria-controls="collapseFive">JAVA
														</a>
													</h4>
												</div>


												<div th:id="${'collapse'+ skill.getId()}" id="collapseFive" class="panel-collapse collapse" role="tabpanel"
														 aria-labelledby="headingFive">
													<div class="panel-body">
														<p th:text="${skill.getDescription()}">Far far away, behind the word, far
															from the countries Vokalia and Consonantia, there live the blind
															texts. Separated they live in Bookmarksgrove right at the coast
															of the Semantics, a large language ocean.</p>
													</div>
												</div>


											</div>
										</th:block>



<!--										<div class="panel panel-default">-->
<!--											<div class="panel-heading" role="tab" id="headingSix">-->
<!--												<h4 class="panel-title">-->
<!--													<a class="collapsed" data-toggle="collapse" data-parent="#accordion"-->
<!--														 href="#collapseSix" aria-expanded="false"-->
<!--														 aria-controls="collapseFive">C++-->
<!--													</a>-->
<!--												</h4>-->
<!--											</div>-->
<!--											-->
<!--											<div id="collapseSix" class="panel-collapse collapse" role="tabpanel"-->
<!--													 aria-labelledby="headingSix">-->
<!--												<div class="panel-body">-->
<!--													<p>Far far away, behind the word <strong>mountains</strong>, far-->
<!--														from the countries Vokalia and Consonantia, there live the blind-->
<!--														texts. Separated they live in Bookmarksgrove right at the coast-->
<!--														of the Semantics, a large language ocean.</p>-->
<!--												</div>-->
<!--											</div>-->
<!--											-->
<!--										</div>-->

									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<!-- education -->


				<!-- Project -->
				<section class="colorlib-experience" data-section="project-candidate">
					<div class="colorlib-narrow-content">
						<div class="row">
							<div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box"
									 data-animate-effect="fadeInLeft">
								<span class="heading-meta">Projects</span>
								<h2 class="colorlib-heading animate-box">Work Projects</h2>
							</div>
						</div>
						<div class="row">

							<div class="col-md-12">
								<div class="timeline-centered">

									<th:block th:each="project: ${cv.getProjects()}">
										<article class="timeline-entry animate-box" data-animate-effect="fadeInLeft">
											<div class="timeline-entry-inner">

												<div class="timeline-icon color-1">
													<i class="icon-pen2"></i>
												</div>

												<div class="timeline-label">
													<h2><a href="#" th:text="${'DEVELOPER IN PROJECT: '+project.getProjectName()}">DEVELOPER IN PROJECT: FSOFT</a> <span th:text="${#dates.format(project.getStartTime(), 'dd-MMM-yyyy')}">2017-2018</span>
														TO <span th:text="${#dates.format(project.getFinishTime(), 'dd-MMM-yyyy')}">2017-2018</span></h2>
													<p th:text="${project.getDescription()}">Tolerably earnestly middleton extremely distrusts she boy now not.
														Add and offered prepare how cordial two promise. Greatly who affixed
														suppose but
														enquire compact prepare all put.
														Added forth chief trees but rooms
														think may.</p>
													<p>Role: <span th:text="${project.getRole()}">DEVELOPER</span></p>
													<p>Task: <span th:text="${project.getTask()}">My Task</span></p>
												</div>
											</div>
										</article>
									</th:block>


<!--									<article class="timeline-entry animate-box" data-animate-effect="fadeInLeft">-->
<!--										<div class="timeline-entry-inner">-->

<!--											<div class="timeline-icon color-1">-->
<!--												<i class="icon-pen2"></i>-->
<!--											</div>-->

<!--											<div class="timeline-label">-->
<!--												<h2><a href="#">DEVELOPER IN PROJECT: FSOFT</a> <span>2017-2018</span>-->
<!--													TO <span>2017-2018</span></h2>-->
<!--												<p>Tolerably earnestly middleton extremely distrusts she boy now not.-->
<!--													Add and offered prepare how cordial two promise. Greatly who affixed-->
<!--													suppose but-->
<!--													enquire compact prepare all put.-->
<!--													Added forth chief trees but rooms-->
<!--													think may.</p>-->
<!--												<p>Role: <span>DEVELOPER</span></p>-->
<!--												<p>Task: <span>My Task</span></p>-->
<!--											</div>-->
<!--										</div>-->
<!--									</article>-->

								</div>
							</div>

						</div>
					</div>
				</section>

				<!-- Project -->


				<!--EDUCATE-->
				<section class="colorlib-blog" data-section="educate">
					<div class="colorlib-narrow-content">
						<div class="row">
							<div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box"
									 data-animate-effect="fadeInLeft">
								<span class="heading-meta">Read</span>
								<h2 class="colorlib-heading">My Educate</h2>
							</div>
						</div>


						<div class="row">

							<th:block th:each="educate: ${cv.getEducate()}">
								<div class="col-md-4 col-sm-6" >
									<div class="blog-entry">
										<a href="blog.html" class="blog-img"><img src="images/blog-2.jpg"
																															class="img-responsive" alt="HTML5 Bootstrap Template by colorlib.com"></a>
										<div class="desc">
											<span><small>Start Time </small> | <small th:text="${#dates.format(educate.getStartTime(), 'dd-MMM-yyyy')}"> 19-10-2019  </small></span>
											<h3><a href="blog.html" th:text="${educate.getSchoolName()}">FPT</a></h3>
											<!-- description -->
											<p th:text="${educate.getDescription()}">Separated they live in Bookmarksgrove right at the coast of the Semantics, a
												large language ocean.</p>
											<!-- major -->
											<p>Major
												<span style="font-weight: 700;font-size: 0.8em;" th:text="${educate.getMajor()}">IT</span>
											</p>
										</div>
									</div>
								</div>
							</th:block>



<!--							<div class="col-md-4 col-sm-6" >-->
<!--								<div class="blog-entry">-->
<!--									<a href="blog.html" class="blog-img"><img src="images/blog-2.jpg"-->
<!--																														class="img-responsive" alt="HTML5 Bootstrap Template by colorlib.com"></a>-->
<!--									<div class="desc">-->
<!--										<span><small>Start Time </small> | <small> 19-10-2019  </small></span>-->
<!--										<h3><a href="blog.html">FPT</a></h3>-->
<!--										<p>Separated they live in Bookmarksgrove right at the coast of the Semantics, a-->
<!--											large language ocean.</p>-->
<!--										<p>Major-->
<!--											<span style="font-weight: 700;font-size: 0.8em;">IT</span>-->
<!--										</p>-->
<!--									</div>-->
<!--								</div>-->
<!--							</div>-->



<!--							<div class="col-md-4 col-sm-6" >-->
<!--								<div class="blog-entry">-->
<!--									<a href="blog.html" class="blog-img"><img src="images/blog-2.jpg"-->
<!--																														class="img-responsive" alt="HTML5 Bootstrap Template by colorlib.com"></a>-->
<!--									<div class="desc">-->
<!--										<span><small>Start Time </small> | <small> 19-10-2019  </small></span>-->
<!--										<h3><a href="blog.html">FPT</a></h3>-->
<!--										<p>Separated they live in Bookmarksgrove right at the coast of the Semantics, a-->
<!--											large language ocean.</p>-->
<!--										<p>Major-->
<!--											<span style="font-weight: 700;font-size: 0.8em;">IT</span>-->
<!--										</p>-->
<!--									</div>-->
<!--								</div>-->
<!--							</div>-->

						</div>
					</div>
				</section>
				<!--EDUCATE-->

				<!-- send request -->
				<div id="contact-candidate"></div>
				<section class="colorlib-contact" data-section="contact">
					<div class="colorlib-narrow-content">
						<div class="row">
							<div class="col-md-6 col-md-offset-3 col-md-pull-3"
									 data-animate-effect="fadeInLeft">
								<span class="heading-meta">Get in Touch</span>
								<h2 class="colorlib-heading">Contact</h2>
							</div>
						</div>
						<div class="row">
							<div class="col-md-5">
								<div class="colorlib-feature colorlib-feature-sm"
										 data-animate-effect="fadeInLeft">
									<div class="colorlib-icon">
										<i class="icon-globe-outline"></i>
									</div>
									<!-- fake email -->
									<div class="colorlib-text">
										<p><a href="#">info@domain.com</a></p>
									</div>
								</div>

								<div class="colorlib-feature colorlib-feature-sm"
										 data-animate-effect="fadeInLeft">
									<div class="colorlib-icon">
										<i class="icon-map"></i>
									</div>
									<!-- Experience -->
									<div class="colorlib-text">
										<h4 style="margin: 0;">
											Total Experience:
										</h4> <p>4 years</p>
									</div>
								</div>

								<!-- phone -->
								<div class="colorlib-feature colorlib-feature-sm"
										 data-animate-effect="fadeInLeft">
									<div class="colorlib-icon">
										<i class="icon-phone"></i>
									</div>
									<div class="colorlib-text">
										<p><a href="tel://">+123 456 7890</a></p>
									</div>
								</div>
							</div>
							<div class="col-md-7 col-md-push-1">
								<div class="row">
									<div class="col-md-10 col-md-offset-1 col-md-pull-1"
											 data-animate-effect="fadeInRight">
										<form id="sendRequest">
											<div class="form-group">
												<input class="form-control" id="organizationName" placeholder="Organization Name"
															 type="text">
											</div>

											<div class="form-group">
												<input class="form-control" id="subject" placeholder="Subject" type="text">
											</div>
											<div class="form-group">
												<textarea class="form-control" cols="30" id="content" name="" rows="7"
																	placeholder="Message"></textarea>
											</div>
											<div class="form-group">
												<input type="submit" class="btn btn-primary "
															 value="Send Request">
											</div>
										</form>
									</div>

								</div>
							</div>
						</div>
					</div>
				</section>
				<!-- send request -->

			</div><!-- end:colorlib-main -->
		</div><!-- end:container-wrap -->
		<div th:insert="/common/error.html"></div>
	</div><!-- end:colorlib-page -->

	<!-- jQuery -->
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<!--	<script src="/company/company-candidate/candidate-detail/js/jquery.min.js"></script>-->
	<!-- jQuery Easing -->
	<script src="/company/company-candidate/candidate-detail/js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="/company/company-candidate/candidate-detail/js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="/company/company-candidate/candidate-detail/js/jquery.waypoints.min.js"></script>
	<!-- Flexslider -->
	<script src="/company/company-candidate/candidate-detail/js/jquery.flexslider-min.js"></script>
	<!-- Owl carousel -->
	<script src="/company/company-candidate/candidate-detail/js/owl.carousel.min.js"></script>
	<!-- Counters -->
	<script src="/company/company-candidate/candidate-detail/js/jquery.countTo.js"></script>


	<!-- MAIN JS -->
	<script src="/company/company-candidate/candidate-detail/js/main.js"></script>

	<script>
		function handle_errors(msg) {
			let str = "You have errors with the following fields; \n";
			str += msg;
			const errors_el = document.querySelector('.errors-custom');
			let error_el = document.createElement('div');
			error_el.classList.add('error2');
			error_el.innerText = str;

			error_el.addEventListener('click', function () {
				errors_el.removeChild(error_el);
			});
			errors_el.appendChild(error_el);
		}

		function isEmptyOrSpaces(str) {
			return str === null || str.match(/^ *$/) !== null;
		}

		console.log("entry")

		// $.noConflict();
		$(document).ready(function () {
			$('#sendRequest').submit(function (e) {
				e.preventDefault();
				console.log("");
				let error = false;
				let content = document.getElementById("content").value;
				let organizationName = document.getElementById("organizationName").value;
				let subject = document.getElementById("subject").value;
				let sendToUserId = document.getElementById("to_id").innerHTML;
				let cvId = document.getElementById("cv_id").innerHTML;
				let errMessage = "";
				if (isEmptyOrSpaces(content)) {
					errMessage += "content must not be null\n";
					error = true;
				}
				if (isEmptyOrSpaces(organizationName)) {
					errMessage += "organizationName must not be null\n";
					error = true;
				}
				if (isEmptyOrSpaces(subject)) {
					errMessage += "subject must not be null\n";
					error = true;
				}
				if (isEmptyOrSpaces(sendToUserId)) {
					errMessage += "sendToUserId must not be null\n";
					error = true;
				}
				if (isEmptyOrSpaces(cvId)) {
					errMessage += "cvId must not be null\n";
					error = true;
				}
				let dataToSend = {
					content, organizationName, subject, sendToUserId, cvId
				}
				console.log(dataToSend)
				e.preventDefault();

				if (!error) {
					$.ajax({
						url: '/company/sendRequest',
						data: JSON.stringify({...dataToSend}),
						processData: false,
						dataType: 'json',
						contentType: 'application/json',
						type: 'POST',
						success: function (data) {
							console.log('success')
						},
						error: function (xhr, status, error) {
							const response = JSON.parse(xhr.responseText);
							console.log(response);
							let errMsg = "";
							if (("responseBody" in response)) {
								errMsg = "user_existed" in response.responseBody ? "User already existed" : "Internal Server error";
							} else {
								errMsg = "Internal server error";
							}
							handle_errors(errMsg);
						}
					});
				}else{
					handle_errors(errMessage);
				}
			});

		});


	</script>
	</body>
</html>

