<div class="modal fade" id="addCompanyModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<form>
				<div class="modal-header">
					<h4 class="modal-title">Add Company</h4>
					<button aria-hidden="true" class="close" data-dismiss="modal" type="button">&times;</button>
				</div>
				<div class="modal-body">
					<div class="container-fluid px-1 py-5 mx-auto">
						<div class="row d-flex justify-content-center">
							<div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center">
								<div class="card">
									<h5 class="text-center mb-4">CREATE NEW COMPANY</h5>
									<div>
										<div class="row justify-content-between text-left">
											<div class="form-group col-sm-6 flex-column d-flex"><label
													class="form-control-label px-3">Company name<span
													class="text-danger"> *</span></label> <input id="name"
											                                                     name="name"
											                                                     onblur="validate(1)"
											                                                     placeholder="Enter your company name"
											                                                     type="text">
											</div>
											<div class="form-group col-sm-6 flex-column d-flex"><label
													class="form-control-label px-3">Phone Number<span
													class="text-danger"> *</span></label> <input id="phone"
											                                                     name="lname"
											                                                     onblur="validate(2)"
											                                                     placeholder="Enter company phone contact"
											                                                     type="text">
											</div>
										</div>
										<div class="row justify-content-between text-left">
											<div class="form-group col-sm-6 flex-column d-flex"><label
													class="form-control-label px-3">Business email<span
													class="text-danger"> *</span></label> <input id="email"
											                                                     name="email"
											                                                     onblur="validate(3)"
											                                                     placeholder="business email"
											                                                     type="text">
											</div>
											<div class="form-group col-sm-6 flex-column d-flex"><label
													class="form-control-label px-3">Password<span
													class="text-danger"> *</span></label> <input id="mob"
											                                                     name="mob"
											                                                     onblur="validate(4)"
											                                                     placeholder=""
											                                                     type="password">
											</div>
										</div>
										<div class="row justify-content-between text-left">
											<div class="form-group col-sm-6 flex-column d-flex"><label
													class="form-control-label px-3">Personnel Size<span
													class="text-danger"> *</span></label> <input id="personnelSize"
											                                                     name="personnelSize"
											                                                     onblur="validate(3)"
											                                                     placeholder="personnelSize"
											                                                     required
											                                                     type="number">
											</div>
											<div class="form-group col-sm-6 flex-column d-flex"><label
													class="form-control-label px-3">Address<span
													class="text-danger"> *</span></label> <input id="address"
											                                                     name="address"
											                                                     onblur="validate(4)"
											                                                     placeholder="address"
											                                                     type="text">
											</div>
										</div>


										<div class="row justify-content-between text-left">
											<div class="input-group col-12 flex-column d-flex">
												<label class="label">Founding at</label>
												<div class="input-group-icon">
													<input class="input--style-4 js-datepicker" name="birthday"
													       type="text">
													<i
															class="zmdi zmdi-calendar-note input-icon js-btn-calendar"></i>
												</div>
											</div>
										</div>
										<div class="row justify-content-between text-left">
											<div class="form-group col-12 flex-column d-flex"><label
													for="description">Description *</label> <textarea
													class="form-control" data-error="Please, leave us a message." id="description"
													name="message" placeholder="Write your message here."
													required="required"
													rows="4"></textarea></div>
										</div>
										<div class="row justify-content-between text-left">
											<div class="form-group col-12 flex-column d-flex"><label
													for="companyIntro">Intro Company *</label> <textarea
													class="form-control" data-error="Please, leave us a message." id="companyIntro"
													name="message" placeholder="Write your message here."
													required="required"
													rows="4"></textarea></div>
										</div>

									</div>
								</div>
							</div>
						</div>
						<main class="main_full">
							<div class="container">
								<div class="panel">
									<div class="button_outer">
										<div class="btn_upload">
											<input type="file" id="upload_file" name="">
											Upload Image
										</div>
										<div class="processing_bar"></div>
										<div class="success_box"></div>
									</div>
								</div>
								<div class="error_msg"></div>
								<div class="uploaded_file_view" id="uploaded_view">
									<span class="file_remove">X</span>
								</div>
							</div>
						</main>
					</div>
				</div>
				<div class="modal-footer">
					<input class="btn btn-default" data-dismiss="modal" type="button" value="Cancel">
					<input class="btn btn-success" type="submit" value="Add">
				</div>
			</form>
		</div>
	</div>
</div>